@using PEETS.Models;
@using Microsoft.AspNet.Identity;
@model PEETS.Models.OfferModel

@{
    ViewBag.Title = "Gérer votre compte";
}

<h3>Gérer les offres.</h3>

<div class="row" style="height: 250px;">

    <div>Vous n'avez aucune offre présentement.</div> 
    
    <div style="padding-top: 7px" class="col-md-6">
        <a href="#addOfferDialog" class="btn btn-warning btn-lg glyphicon-plus" data-toggle="modal"> Ajouter une offre</a>
    </div> 
    
    <div style="padding-top: 7px" class="col-md-6">
        <a href="#addLivreDialog" class="btn btn-success btn-lg glyphicon-plus" data-toggle="modal"> Ajouter un livre</a>
    </div> 

</div>

<h3>Gérer votre compte.</h3>

<div class="row" style="height: 250px;margin-top: 20px">
    
    <div style="padding-top: 7px" class="col-md-6">
        <a href="#desactiverCompteDialog" class="btn btn-danger" data-toggle="modal">Supprimer votre compte</a>
    </div> 

</div>

@using (Html.BeginForm("Create", "Offer", FormMethod.Post))
{
    <div class="modal fade" id="addOfferDialog" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #aa4200">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h4 style="color: white!important">Ajout d'une offre</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <label style="width: 150px">Date de début</label>
                        @Html.TextBoxFor(m => m.Offer.DateDebut, "{0:dd/MM/yyyy}", new { style = "width: 200px" }) <span style="font-weight: bolder;color: red"> *</span> 
                        @Html.ValidationMessageFor(m => m.Offer.DateDebut)
                    </div>
                    <div>
                        <label style="width: 150px">Date de fin</label>
                        @Html.TextBoxFor(m => m.Offer.DateFin, "{0:dd/MM/yyyy}", new { style = "width: 200px" })
                        @Html.ValidationMessageFor(m => m.Offer.DateFin)
                    </div>  
                    
                    @{
                        if (Model.Offer != null)
                        {
                            <div>
                                <label style="width: 150px">Livre</label>
                                @Html.DropDownListFor(m => m.Offer.LivresSelectedId, Model.Offer.Livres(), new { style = "width: 200px" })
                            </div>
                            <div>
                                <label style="width: 150px;vertical-align: text-top">Satut</label>
                                @Html.DropDownListFor(m => m.Offer.StatutsSelectedId, Model.Offer.Statuts(), new { style = "width: 200px" })
                            </div>
                        }
                    }
                    
                    <div>
                        <label style="width: 150px">Prix demandé</label> @Html.TextBoxFor(m => m.Offer.Prix, "{0:0.00}", new { style = "width: 200px" }) <span style="font-weight: bolder;color: red"> *</span>
                        @Html.ValidationMessageFor(m => m.Offer.Prix)
                    </div>

                    <div>
                        <label style="width: 150px">Remarque</label>
                        @Html.TextAreaFor(m => m.Offer.Remarques, htmlAttributes: new { style = "width: 300px;height: 200px" })
                        @Html.ValidationMessageFor(m => m.Offer.Remarques)
                    </div>                 
                </div>
                <div class="modal-footer">
                    @{

                    }
                    <span class="form-group">
                        <input type="submit" class="btn btn-success btn-sm" value="Ajouter" />
                    </span>
                    <button class="btn btn-danger btn-sm" data-dismiss="modal"> Annuler</button>
                </div>
            </div>
        </div>
    </div>
}
     
@using (Html.BeginForm("Create", "Livre", FormMethod.Post, new { EncType = "multipart/form-data" }))
{
    <div class="modal fade" id="addLivreDialog" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #59822c">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h4 style="color: white!important">Ajout d'un livre</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <label style="width: 150px">Code ISBN</label> @Html.TextBoxFor(m => m.Livre.CodeIsbn, null, new { style = "width: 200px" })
                        @Html.ValidationMessageFor(m => m.Livre.CodeIsbn)
                    </div>
                    <div>
                        <label style="width: 150px">Nom</label> @Html.TextBoxFor(m => m.Livre.Nom, null, new { style = "width: 200px" }) <span style="font-weight: bolder;color: red"> *</span> 
                        @Html.ValidationMessageFor(m => m.Livre.Nom)
                    </div>
                    
                    @{
                        if (Model.Livre != null)
                        {
                            <div>
                                <label style="width: 150px">État</label> @Html.DropDownListFor(m => m.Livre.SelectedId, Model.Livre.Etats, new { style = "width: 200px" })
                            </div>
                        }
                    }
                    
                    <div>
                        <label style="width: 150px">Image</label> @Html.TextBoxFor(m => m.Livre.Image, null, htmlAttributes: new { type = "file", style = "display: inline!important;width: 300px;"})
                    </div>
                    
                </div>
                <div class="modal-footer">
                    @{

                    }
                    <span class="form-group">
                        <input type="submit" class="btn btn-success btn-sm" value="Ajouter le livre" />
                    </span>
                    <button class="btn btn-danger btn-sm" data-dismiss="modal"> Annuler</button>
                </div>
            </div>
        </div>
    </div>
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          

@using (Html.BeginForm("Disassociate", "Account", FormMethod.Post))
{
    <div class="modal fade" id="desactiverCompteDialog" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #9a161a">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h4 style="color: white!important">Supprimer le compte</h4>
                </div>
                <div class="modal-body">
                    Votre compte sera supprimé et vous ne pourrais plus ....                
                </div>
                <div class="modal-footer">
                    @{

                    }
                    <span class="form-group">
                        <input type="submit" class="btn btn-default btn-sm" value="Supprimer" />
                    </span>
                    <button class="btn btn-danger btn-sm" data-dismiss="modal"> Annuler</button>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/Manage.js"></script>
    <script src="~/Scripts/bootstrap-filestyle-0.1.0.min.js"> </script>
}