<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - PÉETS(Plateforme d'échange d'article scolaire)</title>

        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/united-bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/Site.css" rel="stylesheet" />
    
        <style type="text/css">
            #logo a {
                color: white!important;
            }
        </style>
    </head>
@{
    string menuItemActive = ViewBag.menuItemActive;
}

<body>
    <div id="page">
        
        <header class="container">
            
            <div id="menu" class="navbar navbar-default navbar-fixed-top">          
                <div class="navbar-header" style="padding-left: 20px;">  
                    <button class="btn btn-success navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </button>
                    <div id="logo">
                        <h3>@Html.ActionLink("Plateforme d'échange d'articles scolaires", "Index", "Home", null, null)</h3>
                    </div>
                </div>      
                
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right" style="padding-right: 20px">
                        <li id="Accueil" @if (menuItemActive == "Index" || menuItemActive == null) { <text> class="nav active" </text>   } else { <text> class="nav" </text> }>@Html.ActionLink("Accueil", "Index", "Home")</li>

                        <li id="Compte" @if (menuItemActive == "Compte") { <text> class="nav active" </text> } else { <text> class="nav" </text> }>@Html.Partial("_LoginPartial")</li>

                        <li id="Offre" @if (menuItemActive == "Offre") { <text> class="nav active" </text>  } else { <text> class="nav" </text>  }>@Html.Partial("_LinkOffre")</li>

                        <li class="nav" @if (menuItemActive == "Connecter") { <text> class="nav active" </text>   } else { <text> class="nav" </text>   }>@Html.Partial("_LoginPartial2")</li>
                        <li id="About" @if (menuItemActive == "About") { <text> class="nav active" </text>  } else { <text> class="nav" </text>  }>@Html.ActionLink("À propos de", "About", "Home")</li>
                       
                        <li id="Contact" @if (menuItemActive == "Contact") { <text> class="nav active" </text>   } else { <text> class="nav" </text>   }>@Html.ActionLink("Contact", "Contact", "Home")</li>

                    </ul>
                </div>

            </div>
            
        </header>
        
        <section id="body" class="container">
            
            <table>
                <tr>
                    <td>
                        <label>Sponsorisé par: </label>
                    </td>
                    <td style="padding-left: 15px">
                        <h5 style="font-weight: bold"><a target="_blank" href="http://www.etsmtl.ca/Services/dd/Engagement-de-l-ETS/Bureau-du-developpement-durable">Le bureau du développement durable de l'ÉTS</a></h5>
                    </td>
                </tr>
            </table>

            <div class="row visible-md visible-lg">
                <div class="col-md-12 col-lg-12">
                    @Html.Partial("_carousel")
                </div>  
            </div>
            
            <hr/>

            <section id="main" class="col-md-9 col-sm-10" style="border-right-style: outset;height: 830px;margin-top: 15px">
                @RenderBody()
            </section>


        <section id="sidebar" class="col-md-3 col-sm-2" style="background-color: #aa4200;height: 845px">
            <div style="margin-top: 15px;text-align: center">
                <div id="recherche" style="border-style: solid;border-color: #bf3e11;padding-bottom: 30px; display: none">
                    <h4 style="color: yellow">Recherche</h4>
                    <div>
                        <input id="nom" name="nom" style="height: 30px" type="text" placeholder="Nom du livre" value="@ViewBag.NomLivre">
                    </div>
                    <div>
                        <input id="isbn" name="isbn" style="height: 30px" type="text" placeholder="Code ISBN" value="@ViewBag.ISBN">
                    </div>
                    <div>
                        <input id="auteur" name="auteur" style="height: 30px" type="text" placeholder="Auteur" value="@ViewBag.Auteur">
                    </div>
                    <div>
                        <input id="sigle" name="sigle" style="height: 30px" type="text" placeholder="Sigle du cours" value="@ViewBag.Sigle">
                    </div>
                    <div style="padding-top: 7px">
                        <button style="width: 150px;" onclick="Rechercher()" class="btn btn-sm btn-warning">Rechercher</button>
                    </div>
                </div>
            </div>

            <div style="border-style: solid;border-color: #bf3e11;padding-bottom: 30px;margin-top: 15px;height: 430px;padding-left: 10px;padding-right: 10px">
                <h4 style="color: yellow;text-decoration:underline;text-align: center">Le développement durable</h4>           
                <p>
                    <h5 style="font-weight: bold;text-align: center;color: greenyellow">Recyclage du papier: réduire, réutiliser, recycler: les trois R d'une meilleure gestion</h5>
                </p>
                <p style="text-align: justify;color: yellow">
                    Pour arriver à un équilibre écologique dans l'univers du papier, il est important d'en réduire la consommation, de le réutiliser au maximum et de le recycler systématiquement. Le recyclage du papier est un acte simple, mais puissant, qui favorise le changement chez les personnes et dans les entreprises. À titre de citoyens, nous pouvons tous contribuer à changer les choses de multiples façons.
                </p>
                    
                <p style="text-align: center">
                    <a style="color: black" target="_blank" href="http://www.fr.tork.ca/Environnement/Recyclage-du-papier-/">www.fr.tork.ca</a> 
                </p>
            </div>

        </section>
 
        </section>       
        
        <hr />
        <footer class="container" style="text-align: center;color: orange;padding-right: 300px;padding-top: -20px">
            <div style="padding-bottom: 5px;"><a href="#polConfid" class="btn-link" data-toggle="modal">Politique de confidentialité</a></div>
            <div>&copy; @DateTime.Now.Year - PÉETS organisation</div>
        </footer>

    </div>
    
    <div class="modal fade" id="polConfid" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #9a161a">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h4 style="color: white!important">Comment vos renseignements personnels sont-ils utilisés?</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Vos renseignements personnels ne sont jamais partagés avec des tiers.
                        Ils permettent de vous identifier et permettent à d'autres étudiants 
                        d'entrer en contact avec vous quand vous publiez une offre.
                    </p>
                    <p>
                        Pour afficher des offres sur ce site, vous devez obligatoirement créer un compte.
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger btn-sm" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")   
    <script src="~/Scripts/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax-3.0.min.js"></script>
    <script src="~/Scripts/jquery.ui.autocomplete.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/MicrosoftAjax.js"></script>
    <script src="~/Scripts/MicrosoftMvcAjax.js"></script>
    <script src="~/Scripts/Site.js"></script>
    <script src="~/Scripts/spin.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
