@using ComputerBeacon.Facebook.Fql
@using PEETS.Enums
@using PEETS.Models;
@using Microsoft.AspNet.Identity;
@model PEETS.Models.OfferModel

@{
    ViewBag.Title = "Gérer votre compte";
}

<h3>Gérer les offres.</h3>

@{
    if (!string.IsNullOrEmpty(@Model.Message))
    {
        <div id="alert"
             @if (@Model.TypeMessage == @TypeMessage.Succes) 
             { <text> class="alert alert-success collapse" </text>    } 
             else if (@Model.TypeMessage == @TypeMessage.Erreur) 
             { <text> class="alert alert-danger collapse" </text>   } 
             else { <text> class="alert alert-warning collapse" </text>  }
         >
            <a href="#" data-dismiss="alert" class="close">&times;</a>
            @Model.Message
        </div>

        <script>
            (function () {
                document.getElementById("alert").style.display = 'block';
            })();       
        </script>
    }
}

<div style="padding-top: 7px;padding-bottom: 40px" class="col-md-6">
    @*<label style="width: 180px">Code ISBN</label> @Html.TextBoxFor(m => m.Livre.CodeIsbn, null, new { style = "width: 200px" }) <span style="font-weight: bolder;color: red"> *</span>*@
    <a href="#addOfferDialog" class="btn btn-warning btn-lg glyphicon-plus" data-toggle="modal"> Ajouter une offre</a>
</div>

<div>
    @if (@Model.ListeOffresUtil == null)
    {
        <div>Vous n'avez aucune offre présentement.</div>
    }
    else
    {        
        <div class="row">
            <div class="col-md-10">
                <div class="table-responsive">
                    <h3 style="color: red">Liste de vos offres actives</h3>
                    <table class="table table-striped table-bordered table-hover table-condensed">
                        <thead style="font-weight: bold;text-align: center">
                            <tr>
                                <th>No offre</th>
                                <th>Livre</th>
                                <th>Fermer l'offre</th>
                            </tr>
                        </thead>
                        @foreach (var offre in @Model.ListeOffresUtil)
                        {
                            <tr>
                                <td style="text-align: center">@offre.NoOffre</td>
                                <td>@offre.NomLivre</td>
                                <td style="text-align: center"><a onclick="AfficherModalFermeture('@offre.NoOffre', '@offre.NomLivre')" class="btn btn-danger btn-xs">Fermer</a></td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    }
</div>
    @using (Html.BeginForm("Create", "Offer", FormMethod.Post))
    {
        <div class="modal fade" id="addOfferDialog" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #aa4200">
                        <a href="#" class="close" data-dismiss="modal">&times;</a>
                        <h4 style="color: white!important">Ajout d'une offre</h4>
                    </div>
                    <div class="modal-body">

                        <div>
                            <label style="width: 180px">Code ISBN</label> @Html.TextBoxFor(m => m.Livre.CodeIsbn, null, new { style = "width: 200px" }) <span style="font-weight: bolder;color: red"> *</span>
                            @Html.ValidationMessageFor(m => m.Livre.CodeIsbn)
                        </div>

                        <div>
                            <label style="width: 180px">État</label> @Html.DropDownListFor(m => m.SelectedEtat, Model.Etats, new { style = "width: 200px" })
                        </div>

                        <div>
                            <label style="width: 180px">Obligatoire pour cours</label> @Html.TextBoxFor(m => m.CoursObligatoires, null, new { style = "width: 200px", placeholder = "Ex: MAT165, MAT472" })
                        </div>

                        <div>
                            <label style="width: 180px">Recommandé pour cours</label> @Html.TextBoxFor(m => m.CoursReferences, null, new { style = "width: 200px", placeholder = "Ex: GIA400, ELE200" })
                        </div>

                        <div>
                            <label style="width: 180px">Remarques**</label>
                            @Html.TextAreaFor(m => m.Remarques, htmlAttributes: new { style = "width: 300px;height: 80px" })
                            @Html.ValidationMessageFor(m => m.Remarques)
                        </div>
                        <div style="padding-top: 7px;color: orangered">
                            <p>
                                **Vous devez indiquez dans le champ remarques, si vous voulez échanger le livre ou le vendre.
                                Si vous l'échangez, vous pouvez indiquer le livre contre lequel vous voulez l'échanger. Si vous le vendez, il faut indiquer le prix demandé.
                                Nous encourageons les échanges de livres entre les étudiants.
                            </p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <span class="form-group">
                            <input type="submit" class="btn btn-success btn-sm" value="Ajouter" />
                        </span>
                        <button class="btn btn-danger btn-sm" data-dismiss="modal"> Annuler</button>
                    </div>
                </div>
            </div>
        </div>
    }

@using (Html.BeginForm("DesactiverOffre", "Offer", FormMethod.Post))
{
    <div class="modal fade" id="fermerOfferDialog" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #aa4200">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h4 style="color: white!important">Fermeture de l'offre </h4>
                </div>
                <div class="modal-body">

                    <div>
                        <label style="width: 180px">Nom du livre: </label> <span id="lbNomFerme"></span>
                    </div>

                    <div>
                        <label style="width: 180px">Raison de la fermeture: </label> @Html.DropDownListFor(m => m.SelectedRaison, Model.ListeRaisons(), new { style = "width: 200px" })
                    </div>

                    <div>
                        <label style="width: 180px">Détails: </label> @Html.TextAreaFor(m => m.DétailsFermeture, new { style = "width: 200px" })
                    </div>
                </div>
                <div class="modal-footer">
                    <span class="form-group">
                        <input type="submit" class="btn btn-warning btn-sm" value="Confirmer" />
                    </span>
                    @Html.HiddenFor(m => m.NoOffre)
                    <button class="btn btn-danger btn-sm" data-dismiss="modal"> Annuler</button>
                </div>
            </div> 
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/bootstrap-filestyle-0.1.0.min.js"> </script>
}
