@model PEETS.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "S’inscrire";
}
<h2>@ViewBag.Title.</h2>
<h3>Associer votre compte @ViewBag.LoginProvider.</h3>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4>Formulaire d'association</h4>
    <hr />
    @Html.ValidationSummary(true)
    <p class="text-info col-md-8">
        Vous avez été authentifié avec succès avec <strong>@ViewBag.LoginProvider</strong>.
        Veuillez entrer un nom d'utilisateur, une adresse de courriel et un numéro de téléphone(facultatif) pour vous rejoindre.
        puis cliquez sur le bouton S'enregistrer afin de compléter la
        connexion.
    </p>
    <div class="form-group">
        
        <div class="col-md-8" style="padding-bottom: 10px">
            @Html.LabelFor(m => m.UserName, new { @class = "col-md-6" })
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.UserName)            
        </div>
        
        
        <div class="col-md-8" style="padding-bottom: 10px">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-6" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email)
        </div>

        
        <div class="col-md-8">
            @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-4 " })
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control col-md-8" })
            @Html.ValidationMessageFor(m => m.PhoneNumber)
        </div>

    </div>
    <div style="padding-bottom: 20px" class="col-md-10">
        <a href="#contratDialog" class="btn-link btn-danger" data-toggle="modal">Lire les termes et conditions avant de continuer</a>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="S'enregistrer" />
        </div>
    </div>
}

<div class="modal fade" id="contratDialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #9a161a">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 style="color: white!important">Termes et conditions</h4>
            </div>
            <div class="modal-body">
                <p>
                    <div>
                        L'utilisation de ce site est soumise aux conditions d'utilisation suivantes:
                    </div>
                    
                    <div>
                        •    Le contenu des pages de ce site est pour votre information générale seulement. Elle est
                        sujette à des changements sans préavis.
                    </div>                   
                
                    <div>
                        •    Ni nous ni aucun tiers ne fournissons aucune garantie quant à l'exactitude, la rapidité, la
                        performance, l'exhaustivité ou la pertinence de l'information et de matériaux trouvés ou
                        offerts sur ce site pour un usage particulier. Vous reconnaissez que ces informations et
                        matériaux peuvent contenir des inexactitudes ou des erreurs et on exclut expressément
                        touteresponsabilité pour les inexactitudes ou erreurs dans toute la mesure permise par la
                        loi.
                    </div>
                                        
                    <div>
                        •    Votre utilisation de toute information ou matériel sur ce site est entièrement à vos risques et
                        périls, pour lesquels nous ne serons pas responsables. Il sera de votre responsabilité de
                        veiller à ce que tous les produits, services ou informations disponibles sur ce site
                        répondent à vos besoins spécifiques.
                    </div>
                                 
                    <div>
                        •    Ce site contient du matériel qui est la propriété ou sous licence de notre compagnie. Ce
                        matériel inclut, mais n'est pas limité à, la conception, la présentation, l'aspect et les
                        graphiques. Toute reproduction est interdite, sauf en conformité avec l'avis de droit d'auteur,
                        qui fait partie de ces termes et conditions.
                    </div>
                    
                </p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger btn-sm" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
